<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Изменение книги </title>
</head>
<body>
<form accept-charset="UTF-8" th:method="PATCH" th:action ="@{/books/{id}(id=${book.getBook_id()})}" th:object = "${book}">
    <label for = "title"> Введите название книги:  </label>
    <input type ="text" th:field ="*{title}" id = "title"/>
    <br/>
    <label for ="autor"> Введите ФИО автора:  </label>
    <input type ="text" th:field ="*{autor}" id = "autor"/>
    <br/>
    <label for ="year"> Введите год издания книги:  </label>
    <input type ="text" th:field ="*{year}" id = "year"/>
    <br/>
    <input type ="submit" value = "Редактировать!"/>

</form>
</body>
</html>